
#imaginary_container {
    margin-top: 20%; /* Don't copy this */
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

body {
    padding-top: 50px;
}

.breadcrumb-arrow {
    height: 36px;
    padding: 0;
    line-height: 36px;
    list-style: none;
    background-color: #e6e9ed
}

.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px
}

.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
    vertical-align: top
}

.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px
}

.breadcrumb-arrow li + li:before {
    padding: 0;
    content: ""
}

.breadcrumb-arrow li span {
    padding: 0 10px
}

.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px
}

.breadcrumb-arrow li:first-child a {
    padding: 0 10px
}

.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda
}

.breadcrumb-arrow li:first-child a {
    padding-left: 10px
}

.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent
}

.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px
}

.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #2494be
}

.breadcrumb-arrow li a:focus, .breadcrumb-arrow li a:hover {
    background-color: #4fc1e9;
    border: 1px solid #4fc1e9
}

.breadcrumb-arrow li a:focus:before, .breadcrumb-arrow li a:hover:before {
    border-left-color: #4fc1e9
}

.breadcrumb-arrow li a:active {
    background-color: #2494be;
    border: 1px solid #2494be
}

.breadcrumb-arrow li a:active:after, .breadcrumb-arrow li a:active:before {
    border-left-color: #2494be
}

.breadcrumb-arrow li span {
    color: #434a54
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

/* Main carousel style */
.carousel {
    /*width: 600px;*/
}

/* Indicators list style */
.article-slide .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}

/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 20px;
}

/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 20px;
    left: 0;
    width: 20px;
}

/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.btn-circle.btn-xl {
    width: 80px;
    height: 80px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

#file {
    color: green;
    padding: 5px;
    border: 1px dashed #123456;
    background-color: #f9ffe5;
}

#img {
    width: 17px;
    border: none;
    height: 17px;
    margin-left: -20px;
    margin-bottom: 191px;
}

.upload {
    width: 100%;
    height: 30px;
}

.previewBox {
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;

    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}

.previewBox img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}

.delete {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ccc;
}

.carousel-inner.onebyone-carosel {
    margin: auto;
    width: 90%;
}
.onebyone-carosel .active.left {
    left: -33.33%;
}
.onebyone-carosel .active.right {
    left: 33.33%;
}
.onebyone-carosel .next {
    left: 33.33%;
}
.onebyone-carosel .prev {
    left: -33.33%;
}
.carousel-caption {
    color:#AA0000;
    top: -5%;
    bottom: auto;
}

.carousel-caption2 {
    color:#23527c;
    top: -50%;
    bottom: auto;
}